html {
	min-height: 100%;
	background-image: url("../img/23094573.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10vh;
	width: 100%;
	margin-top: 2vw;
	padding-right:2vw
}

#h_content1 {
	background-image: url('../img/mosaic.jpg');
	width: 20%;
	height: 100%;
	transform: skewX(-15deg);
	display: flex;
	z-index: 1;
	position: relative;
}

#h_content1:after {
	background-image: url('../img/mosaic.jpg');
	content: '';
	height: 100%;
	position: absolute;
	left: -1vw;
	z-index: -1;
	width: 21vw;
}

#h1_lv {
    display: flex;
    flex-direction: column;
    transform: skew(10deg, 0deg);
    margin-left: 2vw;
    font-size: 1.5vw;
    font-style: italic;
    font-weight: bold;
}

#h1_name {
    display: flex;
    flex-direction: column;
    transform: skew(10deg, 0deg);
    width: 100%;
    margin: 4%;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    color: black;
}

#h1_name span {
	display: inline-block;
	height: 100%;
}

#h1_name .ex_meter {
	display: inline-block;
	height: 10px;
	background: linear-gradient(90deg, #4BD3D9 0%, #4BD3D9 50%, gray 50%, gray 100%);
}

.wcontent {
	background: rgba(255,255,255,0.9);
	transform: skewX(-15deg);
	width: 10%;
	height: 50%;
	border-radius: 5px;
}


#main {
	height: 70vh;
	width: 100%;
	padding: 2vh 2vw;
}

#kt {
	height: 80px;
	width: 50px;
	transform: rotate(0.02turn);
	background: linear-gradient(180deg, white 0%, white 10%, pink 10%, pink 90%, white 90%, white 100%);
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 10vh;
	margin: 0 5% 2% 5%;
}

#footer:before {
	content: '';
	width: 90vw;
	height: 6vh;
	position: absolute;
	bottom: 2vh;
	background: rgba(255,255,255,0.9);
	transform: skewX(-15deg);
	z-index: -1;
}

#footer input {
	margin: 15px;
}

.f_content {
	background: #724598;
	width: 10vw;
	color: white;
	text-align: center;
	align-content: center;
}